# Real-world clustering example

In [1]:
import pandas as pd
from sklearn.cluster import KMeans

In [6]:
odf = pd.read_csv('players_21.csv')
odf

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club_name,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,33,1987-06-24,170,72,Argentina,FC Barcelona,...,66+3,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,35,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3
2,200389,https://sofifa.com/player/200389/jan-oblak/210002,J. Oblak,Jan Oblak,27,1993-01-07,188,87,Slovenia,Atlético Madrid,...,32+3,36+3,36+3,36+3,32+3,32+3,33+3,33+3,33+3,32+3
3,188545,https://sofifa.com/player/188545/robert-lewand...,R. Lewandowski,Robert Lewandowski,31,1988-08-21,184,80,Poland,FC Bayern München,...,64+3,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3
4,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Júnior,28,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,67+3,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,256679,https://sofifa.com/player/256679/kevin-angulo/...,K. Angulo,Kevin Angulo,24,1996-04-13,176,73,Colombia,América de Cali,...,47+2,47+2,47+2,47+2,47+2,47+2,46+2,46+2,46+2,47+2
18940,257710,https://sofifa.com/player/257710/mengxuan-zhan...,Zhang Mengxuan,Mengxuan Zhang,21,1999-04-26,177,70,China PR,Chongqing Dangdai Lifan FC SWM Team,...,42+2,41+2,41+2,41+2,42+2,45+2,47+2,47+2,47+2,45+2
18941,250989,https://sofifa.com/player/250989/zhenghao-wang...,Wang Zhenghao,王政豪,20,2000-06-28,185,74,China PR,Tianjin TEDA FC,...,42+2,42+2,42+2,42+2,42+2,44+2,47+2,47+2,47+2,44+2
18942,257697,https://sofifa.com/player/257697/zitong-chen/2...,Chen Zitong,Zitong Chen,23,1997-02-20,186,80,China PR,Shijiazhuang Ever Bright F.C.,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18943,257936,https://sofifa.com/player/257936/yue-song/210002,Song Yue,Yue Song,28,1991-11-20,185,79,China PR,Tianjin TEDA FC,...,47+0,47+0,47+0,47+0,47+0,47+0,46+1,46+1,46+1,47+0

In [4]:
odf.columns.values

array(['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob',
       'height_cm', 'weight_kg', 'nationality', 'club_name',
       'league_name', 'league_rank', 'overall', 'potential', 'value_eur',
       'wage_eur', 'player_positions', 'preferred_foot',
       'international_reputation', 'weak_foot', 'skill_moves',
       'work_rate', 'body_type', 'real_face', 'release_clause_eur',
       'player_tags', 'team_position', 'team_jersey_number',
       'loaned_from', 'joined', 'contract_valid_until', 'nation_position',
       'nation_jersey_number', 'pace', 'shooting', 'passing', 'dribbling',
       'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking',
       'gk_reflexes', 'gk_speed', 'gk_positioning', 'player_traits',
       'attacking_crossing', 'attacking_finishing',
       'attacking_heading_accuracy', 'attacking_short_passing',
       'attacking_volleys', 'skill_dribbling', 'skill_curve',
       'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control',
       'movement_acceleration', 'movement_sprint_speed',
       'movement_agility', 'movement_reactions', 'movement_balance',
       'power_shot_power', 'power_jumping', 'power_stamina',
       'power_strength', 'power_long_shots', 'mentality_aggression',
       'mentality_interceptions', 'mentality_positioning',
       'mentality_vision', 'mentality_penalties', 'mentality_composure',
       'defending_marking', 'defending_standing_tackle',
       'defending_sliding_tackle', 'goalkeeping_diving',
       'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'ls', 'st',
       'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm',
       'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb'], dtype=object)

In [9]:
df = odf[['short_name', 'age', 'height_cm', 'weight_kg', 'league_rank',
    'value_eur', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic'
   ]].dropna().set_index('short_name')
df

,age,height_cm,weight_kg,league_rank,value_eur,pace,shooting,passing,dribbling,defending,physic
short_name,,,,,,,,,,,
L. Messi,33,170,72,1.0,67500000,85.0,92.0,91.0,95.0,38.0,65.0
Cristiano Ronaldo,35,187,83,1.0,46000000,89.0,93.0,81.0,89.0,35.0,77.0
R. Lewandowski,31,184,80,1.0,80000000,78.0,91.0,78.0,85.0,43.0,82.0
Neymar Jr,28,175,68,1.0,90000000,91.0,85.0,86.0,94.0,36.0,59.0
K. De Bruyne,29,181,70,1.0,87000000,76.0,86.0,93.0,88.0,64.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...
K. Angulo,24,176,73,1.0,40000,63.0,37.0,50.0,47.0,41.0,50.0
Zhang Mengxuan,21,177,70,1.0,35000,58.0,23.0,26.0,27.0,50.0,48.0
Wang Zhenghao,20,185,74,1.0,35000,51.0,25.0,29.0,36.0,45.0,55.0
Chen Zitong,23,186,80,1.0,40000,61.0,35.0,48.0,48.0,44.0,58.0
Song Yue,28,185,79,1.0,30000,65.0,37.0,49.0,46.0,40.0,59.0

ساده ترین حالت
وقتی که همه ستون ها عددی باشند

In [11]:
model = KMeans(n_clusters=10)
model.fit(df.values)
model.cluster_centers_

array([[2.44757754e+01, 1.80257199e+02, 7.38298727e+01, 1.45680595e+00,
        5.10633598e+05, 6.61948218e+01, 4.86641032e+01, 5.34566351e+01,
        5.90649406e+01, 4.88388447e+01, 6.23167564e+01],
       [2.68260870e+01, 1.79869565e+02, 7.42608696e+01, 1.00000000e+00,
        2.76521739e+07, 7.85760870e+01, 7.08695652e+01, 7.61304348e+01,
        8.06195652e+01, 6.29782609e+01, 7.29347826e+01],
       [2.63526835e+01, 1.80707558e+02, 7.51960570e+01, 1.05366922e+00,
        7.99890471e+06, 7.19846659e+01, 6.27842278e+01, 6.76681271e+01,
        7.22913472e+01, 5.91741512e+01, 7.05104053e+01],
       [2.62333333e+01, 1.81300000e+02, 7.59666667e+01, 1.00000000e+00,
        5.32333333e+07, 7.75666667e+01, 7.37000000e+01, 7.85000000e+01,
        8.23666667e+01, 6.28000000e+01, 7.61333333e+01],
       [2.65221932e+01, 1.79968668e+02, 7.45143603e+01, 1.11140122e+00,
        4.56431680e+06, 7.07040905e+01, 5.97528285e+01, 6.55091384e+01,
        7.01087903e+01, 5.75691906e+01, 6.88798956e+01],
       [2.55454545e+01, 1.80886364e+02, 7.54204545e+01, 1.01136364e+00,
        1.89602273e+07, 7.54772727e+01, 6.85170455e+01, 7.35056818e+01,
        7.79772727e+01, 6.03750000e+01, 7.16250000e+01],
       [2.54665072e+01, 1.80894737e+02, 7.55717703e+01, 1.02392344e+00,
        1.23983254e+07, 7.36961722e+01, 6.56411483e+01, 7.07153110e+01,
        7.54090909e+01, 5.99401914e+01, 7.15741627e+01],
       [2.61489362e+01, 1.80978723e+02, 7.55957447e+01, 1.00000000e+00,
        3.92659574e+07, 7.72765957e+01, 7.29148936e+01, 7.76170213e+01,
        8.09787234e+01, 6.18510638e+01, 7.20851064e+01],
       [2.66251176e+01, 1.80471778e+02, 7.51387582e+01, 1.20225776e+00,
        2.21519285e+06, 6.94727187e+01, 5.76204139e+01, 6.22878645e+01,
        6.71340546e+01, 5.44920038e+01, 6.82793979e+01],
       [2.69166667e+01, 1.78833333e+02, 7.53333333e+01, 1.00000000e+00,
        7.87916667e+07, 8.48333333e+01, 8.35000000e+01, 8.18333333e+01,
        8.80833333e+01, 4.76666667e+01, 7.28333333e+01]])

In [13]:
df['cluster'] = model.labels_
df

,age,height_cm,weight_kg,league_rank,value_eur,pace,shooting,passing,dribbling,defending,physic,cluster
short_name,,,,,,,,,,,,
L. Messi,33,170,72,1.0,67500000,85.0,92.0,91.0,95.0,38.0,65.0,9
Cristiano Ronaldo,35,187,83,1.0,46000000,89.0,93.0,81.0,89.0,35.0,77.0,7
R. Lewandowski,31,184,80,1.0,80000000,78.0,91.0,78.0,85.0,43.0,82.0,9
Neymar Jr,28,175,68,1.0,90000000,91.0,85.0,86.0,94.0,36.0,59.0,9
K. De Bruyne,29,181,70,1.0,87000000,76.0,86.0,93.0,88.0,64.0,78.0,9
...,...,...,...,...,...,...,...,...,...,...,...,...
K. Angulo,24,176,73,1.0,40000,63.0,37.0,50.0,47.0,41.0,50.0,0
Zhang Mengxuan,21,177,70,1.0,35000,58.0,23.0,26.0,27.0,50.0,48.0,0
Wang Zhenghao,20,185,74,1.0,35000,51.0,25.0,29.0,36.0,45.0,55.0,0
Chen Zitong,23,186,80,1.0,40000,61.0,35.0,48.0,48.0,44.0,58.0,0
Song Yue,28,185,79,1.0,30000,65.0,37.0,49.0,46.0,40.0,59.0,0

In [14]:
df[df.cluster==9]

,age,height_cm,weight_kg,league_rank,value_eur,pace,shooting,passing,dribbling,defending,physic,cluster
short_name,,,,,,,,,,,,
L. Messi,33,170,72,1.0,67500000,85.0,92.0,91.0,95.0,38.0,65.0,9
R. Lewandowski,31,184,80,1.0,80000000,78.0,91.0,78.0,85.0,43.0,82.0,9
Neymar Jr,28,175,68,1.0,90000000,91.0,85.0,86.0,94.0,36.0,59.0,9
K. De Bruyne,29,181,70,1.0,87000000,76.0,86.0,93.0,88.0,64.0,78.0,9
K. Mbappé,21,178,73,1.0,105500000,96.0,86.0,78.0,91.0,39.0,76.0,9
V. van Dijk,28,193,92,1.0,75500000,76.0,60.0,71.0,71.0,91.0,86.0,9
S. Mané,28,175,69,1.0,78000000,94.0,85.0,80.0,90.0,44.0,76.0,9
M. Salah,28,175,71,1.0,78000000,93.0,86.0,81.0,90.0,45.0,75.0,9
R. Sterling,25,170,69,1.0,72500000,93.0,81.0,79.0,90.0,45.0,67.0,9
H. Kane,26,188,89,1.0,71000000,68.0,91.0,80.0,80.0,47.0,83.0,9
P. Dybala,26,177,75,1.0,71000000,85.0,85.0,84.0,92.0,43.0,63.0,9
J. Sancho,20,180,76,1.0,69500000,83.0,74.0,81.0,91.0,37.0,64.0,9

In [15]:
df[df.cluster==7]

,age,height_cm,weight_kg,league_rank,value_eur,pace,shooting,passing,dribbling,defending,physic,cluster
short_name,,,,,,,,,,,,
Cristiano Ronaldo,35,187,83,1.0,46000000,89.0,93.0,81.0,89.0,35.0,77.0,7
A. Di María,32,180,69,1.0,39000000,83.0,81.0,85.0,88.0,48.0,68.0,7
P. Aubameyang,31,187,80,1.0,45000000,93.0,86.0,75.0,80.0,38.0,69.0,7
Sergio Busquets,31,189,76,1.0,38000000,42.0,62.0,80.0,80.0,83.0,77.0,7
A. Gómez,32,167,68,1.0,34500000,90.0,79.0,84.0,88.0,39.0,55.0,7
J. Henderson,30,182,80,1.0,36500000,65.0,74.0,84.0,79.0,81.0,82.0,7
T. Müller,30,186,75,1.0,42000000,68.0,82.0,82.0,78.0,56.0,71.0,7
Carvajal,28,173,73,1.0,38000000,80.0,54.0,78.0,80.0,82.0,80.0,7
Marquinhos,26,183,75,1.0,44000000,72.0,41.0,73.0,70.0,87.0,78.0,7
C. Lenglet,25,186,81,1.0,44500000,74.0,45.0,67.0,65.0,87.0,81.0,7
M. Škriniar,25,188,80,1.0,44500000,69.0,41.0,59.0,66.0,87.0,81.0,7
Rodri,24,191,82,1.0,44000000,65.0,68.0,77.0,77.0,82.0,79.0,7
Ricardo Pereira,26,175,70,1.0,40500000,83.0,66.0,79.0,82.0,81.0,76.0,7
R. Lukaku,27,191,94,1.0,45000000,81.0,83.0,76.0,75.0,38.0,84.0,7
Luis Alberto,27,183,74,1.0,44000000,74.0,76.0,86.0,85.0,58.0,59.0,7
M. Icardi,27,181,75,1.0,45000000,73.0,85.0,65.0,78.0,36.0,68.0,7
H. Ziyech,27,181,65,1.0,44000000,80.0,76.0,87.0,84.0,50.0,66.0,7
M. Pjanić,30,178,72,1.0,35500000,67.0,68.0,87.0,85.0,75.0,67.0,7
G. Wijnaldum,29,175,69,1.0,37000000,76.0,75.0,81.0,86.0,78.0,79.0,7
M. Reus,31,180,71,1.0,34000000,80.0,86.0,84.0,85.0,45.0,63.0,7
Thiago,29,174,70,1.0,37000000,64.0,72.0,85.0,90.0,70.0,62.0,7
C. Eriksen,28,181,76,1.0,39000000,72.0,81.0,88.0,81.0,53.0,63.0,7
Koke,28,176,77,1.0,38000000,67.0,75.0,85.0,81.0,76.0,80.0,7
L. Insigne,29,163,59,1.0,37500000,88.0,78.0,83.0,91.0,36.0,44.0,7
R. Mahrez,29,179,67,1.0,37500000,83.0,79.0,81.0,90.0,38.0,59.0,7
E. Haaland,19,194,88,1.0,45000000,84.0,87.0,63.0,76.0,43.0,85.0,7
L. Martínez,22,174,81,1.0,44500000,83.0,82.0,71.0,85.0,48.0,82.0,7
Oyarzabal,23,181,79,1.0,42500000,81.0,82.0,80.0,84.0,41.0,63.0,7
N. Süle,24,195,97,1.0,37500000,69.0,42.0,59.0,49.0,85.0,81.0,7
Arthur,23,171,73,1.0,41000000,66.0,73.0,82.0,87.0,75.0,71.0,7
L. Goretzka,25,189,76,1.0,39500000,78.0,78.0,80.0,82.0,77.0,85.0,7
Grimaldo,24,171,69,1.0,35500000,85.0,65.0,79.0,84.0,77.0,71.0,7
A. Martial,24,184,76,1.0,41000000,89.0,83.0,74.0,87.0,41.0,72.0,7
J. Brandt,24,185,83,1.0,40500000,81.0,78.0,82.0,87.0,51.0,66.0,7
K. Coman,24,179,75,1.0,40500000,93.0,76.0,77.0,87.0,29.0,59.0,7
J. Giménez,25,185,80,1.0,36000000,67.0,45.0,53.0,54.0,86.0,83.0,7
W. Ndidi,23,183,74,1.0,36500000,71.0,62.0,68.0,74.0,87.0,84.0,7
Saúl,25,184,76,1.0,38500000,68.0,79.0,79.0,81.0,78.0,79.0,7
R. Guerreiro,26,170,71,1.0,36500000,74.0,78.0,84.0,87.0,73.0,57.0,7
T. Partey,27,185,77,1.0,35000000,71.0,74.0,81.0,81.0,82.0,85.0,7
F. Valverde,21,182,78,1.0,36000000,86.0,74.0,78.0,79.0,77.0,80.0,7
M. Ødegaard,21,178,68,1.0,36000000,78.0,75.0,84.0,85.0,58.0,63.0,7
O. Dembélé,23,178,67,1.0,35500000,92.0,77.0,77.0,87.0,36.0,56.0,7
S. Bergwijn,22,178,78,1.0,34500000,87.0,79.0,78.0,85.0,39.0,72.0,7
A. Hakimi,21,181,73,1.0,35000000,94.0,70.0,76.0,82.0,72.0,76.0,7
D. Alli,24,188,80,1.0,34000000,72.0,80.0,79.0,83.0,71.0,79.0,7
Gabriel Jesus,23,175,73,1.0,34500000,85.0,82.0,72.0,87.0,42.0,71.0,7

# Preprocessing: scale data to (0, 1)
دلیل نیاز به این کار
برای حل مشکل زیر
محدوده خصوصیات خیلی با هم متفاوتند. مثلا وزن و قیمت
باعث میشه مثلا اثر قیمت در فاصله اقلیدسی اثر وزن را از بین ببرد

In [19]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled = scaler.fit_transform(df)
scaled

array([[0.45945946, 0.3125    , 0.36666667, ..., 0.30263158, 0.58730159,
        1.        ],
       [0.51351351, 0.66666667, 0.55      , ..., 0.26315789, 0.77777778,
        0.77777778],
       [0.40540541, 0.60416667, 0.5       , ..., 0.36842105, 0.85714286,
        1.        ],
       ...,
       [0.10810811, 0.625     , 0.4       , ..., 0.39473684, 0.42857143,
        0.        ],
       [0.18918919, 0.64583333, 0.5       , ..., 0.38157895, 0.47619048,
        0.        ],
       [0.32432432, 0.625     , 0.48333333, ..., 0.32894737, 0.49206349,
        0.        ]])

In [20]:
model = KMeans(n_clusters=10)
model.fit(scaled)
model.cluster_centers_

array([[ 3.05875042e-01,  5.13004146e-01,  3.98925744e-01,
         5.85500691e-02,  8.65724754e-03,  5.84886628e-01,
         4.92840744e-01,  5.38663223e-01,  5.61235259e-01,
         5.96722677e-01,  6.34519771e-01,  5.69585794e-03],
       [ 2.57902639e-01,  6.63874675e-01,  5.01957440e-01,
         5.18193632e-02,  8.70624428e-03,  4.30627625e-01,
         2.28272702e-01,  3.03262241e-01,  3.20036202e-01,
         6.38863240e-01,  6.62466351e-01,  2.25795971e-02],
       [ 2.86000103e-01,  5.07139438e-01,  3.96724101e-01,
         2.06339077e-02,  9.24566821e-02,  6.67292844e-01,
         6.23492653e-01,  6.81951274e-01,  7.07393564e-01,
         6.66577100e-01,  6.84707408e-01,  3.76232007e-01],
       [ 2.15390963e-01,  4.95774264e-01,  3.70501636e-01,
         7.90258088e-01,  3.71787252e-03,  6.64152856e-01,
         5.01140081e-01,  4.25909295e-01,  5.25876305e-01,
         3.25187970e-01,  5.02622423e-01, -3.88578059e-16],
       [ 2.64847025e-01,  4.83842134e-01,  3.84290429e-01,
         4.86248625e-02,  5.37906871e-02,  7.25644959e-01,
         6.87505893e-01,  5.95360124e-01,  6.94596888e-01,
         2.93199583e-01,  5.63214417e-01,  7.59369270e-01],
       [ 1.51633228e-01,  4.66928681e-01,  3.40192570e-01,
         4.90797546e-02,  3.53194448e-03,  5.92816613e-01,
         2.93037739e-01,  3.87224829e-01,  4.55762489e-01,
         5.27129749e-01,  4.83356055e-01,  4.54442172e-04],
       [ 2.59998005e-01,  6.08612649e-01,  4.74815498e-01,
         6.06806068e-02,  1.23373731e-02,  6.05859016e-01,
         6.20069967e-01,  4.16241589e-01,  5.49472852e-01,
         2.00726678e-01,  6.01056249e-01,  2.45319120e-02],
       [ 2.34192332e-01,  6.29005168e-01,  4.60723514e-01,
         7.73126615e-01,  3.43598222e-03,  5.10361393e-01,
         2.75062922e-01,  3.36958504e-01,  3.81550388e-01,
         5.75683395e-01,  6.41097576e-01, -8.04911693e-16],
       [ 1.72133639e-01,  4.10710424e-01,  3.04772203e-01,
         4.87312572e-02,  7.58806310e-03,  6.68855695e-01,
         5.24350649e-01,  4.50170466e-01,  5.64915966e-01,
         2.26689128e-01,  3.67145878e-01,  7.73740869e-03],
       [ 2.96271676e-01,  5.79761068e-01,  4.55645350e-01,
         6.32466620e-02,  3.46680966e-02,  5.65151980e-01,
         4.34941727e-01,  5.35137034e-01,  5.52765787e-01,
         7.16240707e-01,  7.17933273e-01,  8.35168267e-01]])

In [22]:
df['cluster'] = model.labels_
df

,age,height_cm,weight_kg,league_rank,value_eur,pace,shooting,passing,dribbling,defending,physic,cluster
short_name,,,,,,,,,,,,
L. Messi,33,170,72,1.0,67500000,85.0,92.0,91.0,95.0,38.0,65.0,4
Cristiano Ronaldo,35,187,83,1.0,46000000,89.0,93.0,81.0,89.0,35.0,77.0,4
R. Lewandowski,31,184,80,1.0,80000000,78.0,91.0,78.0,85.0,43.0,82.0,4
Neymar Jr,28,175,68,1.0,90000000,91.0,85.0,86.0,94.0,36.0,59.0,4
K. De Bruyne,29,181,70,1.0,87000000,76.0,86.0,93.0,88.0,64.0,78.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
K. Angulo,24,176,73,1.0,40000,63.0,37.0,50.0,47.0,41.0,50.0,5
Zhang Mengxuan,21,177,70,1.0,35000,58.0,23.0,26.0,27.0,50.0,48.0,5
Wang Zhenghao,20,185,74,1.0,35000,51.0,25.0,29.0,36.0,45.0,55.0,1
Chen Zitong,23,186,80,1.0,40000,61.0,35.0,48.0,48.0,44.0,58.0,5
Song Yue,28,185,79,1.0,30000,65.0,37.0,49.0,46.0,40.0,59.0,5

In [23]:
df[df.cluster==4]

,age,height_cm,weight_kg,league_rank,value_eur,pace,shooting,passing,dribbling,defending,physic,cluster
short_name,,,,,,,,,,,,
L. Messi,33,170,72,1.0,67500000,85.0,92.0,91.0,95.0,38.0,65.0,4
Cristiano Ronaldo,35,187,83,1.0,46000000,89.0,93.0,81.0,89.0,35.0,77.0,4
R. Lewandowski,31,184,80,1.0,80000000,78.0,91.0,78.0,85.0,43.0,82.0,4
Neymar Jr,28,175,68,1.0,90000000,91.0,85.0,86.0,94.0,36.0,59.0,4
K. De Bruyne,29,181,70,1.0,87000000,76.0,86.0,93.0,88.0,64.0,78.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
K. Michael,20,176,70,1.0,1400000,75.0,64.0,68.0,71.0,52.0,58.0,4
Andrés Martín,20,170,66,2.0,1400000,74.0,65.0,58.0,69.0,27.0,52.0,4
Elliot,21,177,72,2.0,1400000,79.0,63.0,60.0,71.0,41.0,59.0,4
A. Colassin,19,180,73,1.0,1400000,76.0,66.0,53.0,67.0,20.0,56.0,4
J. Adamu,19,183,73,1.0,1400000,81.0,66.0,49.0,65.0,21.0,62.0,4

حالت بعد

وقتی بخواهیم خصوصیات غیر عددی را هم استفاده کنیم

مثلا پای ارجح

راه حل

به هر مقدار غیر عددی یک عدد اختصاص دهیم

In [27]:
df = odf[['short_name', 'preferred_foot', 'age', 'height_cm', 'weight_kg', 'league_rank',
    'value_eur', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic'
   ]].dropna().set_index('short_name')
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()
df['preferred_foot'] = enc.fit_transform(df['preferred_foot'])
df

,preferred_foot,age,height_cm,weight_kg,league_rank,value_eur,pace,shooting,passing,dribbling,defending,physic
short_name,,,,,,,,,,,,
L. Messi,0,33,170,72,1.0,67500000,85.0,92.0,91.0,95.0,38.0,65.0
Cristiano Ronaldo,1,35,187,83,1.0,46000000,89.0,93.0,81.0,89.0,35.0,77.0
R. Lewandowski,1,31,184,80,1.0,80000000,78.0,91.0,78.0,85.0,43.0,82.0
Neymar Jr,1,28,175,68,1.0,90000000,91.0,85.0,86.0,94.0,36.0,59.0
K. De Bruyne,1,29,181,70,1.0,87000000,76.0,86.0,93.0,88.0,64.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...
K. Angulo,1,24,176,73,1.0,40000,63.0,37.0,50.0,47.0,41.0,50.0
Zhang Mengxuan,1,21,177,70,1.0,35000,58.0,23.0,26.0,27.0,50.0,48.0
Wang Zhenghao,1,20,185,74,1.0,35000,51.0,25.0,29.0,36.0,45.0,55.0
Chen Zitong,1,23,186,80,1.0,40000,61.0,35.0,48.0,48.0,44.0,58.0
Song Yue,1,28,185,79,1.0,30000,65.0,37.0,49.0,46.0,40.0,59.0

In [29]:
scaler = MinMaxScaler()
scaled = scaler.fit_transform(df)
model = KMeans(n_clusters=10)
model.fit(scaled)
model.cluster_centers_
df['cluster'] = model.labels_
df

,preferred_foot,age,height_cm,weight_kg,league_rank,value_eur,pace,shooting,passing,dribbling,defending,physic,cluster
short_name,,,,,,,,,,,,,
L. Messi,0,33,170,72,1.0,67500000,85.0,92.0,91.0,95.0,38.0,65.0,2
Cristiano Ronaldo,1,35,187,83,1.0,46000000,89.0,93.0,81.0,89.0,35.0,77.0,8
R. Lewandowski,1,31,184,80,1.0,80000000,78.0,91.0,78.0,85.0,43.0,82.0,8
Neymar Jr,1,28,175,68,1.0,90000000,91.0,85.0,86.0,94.0,36.0,59.0,8
K. De Bruyne,1,29,181,70,1.0,87000000,76.0,86.0,93.0,88.0,64.0,78.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
K. Angulo,1,24,176,73,1.0,40000,63.0,37.0,50.0,47.0,41.0,50.0,7
Zhang Mengxuan,1,21,177,70,1.0,35000,58.0,23.0,26.0,27.0,50.0,48.0,3
Wang Zhenghao,1,20,185,74,1.0,35000,51.0,25.0,29.0,36.0,45.0,55.0,3
Chen Zitong,1,23,186,80,1.0,40000,61.0,35.0,48.0,48.0,44.0,58.0,3
Song Yue,1,28,185,79,1.0,30000,65.0,37.0,49.0,46.0,40.0,59.0,7